*{
    margin: 0;
    padding: 0;
    color: white;
    /* font-family: 'Poppins', serif; */
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-decoration: none;
}

.text-content{
    text-align: center;
}
.text-content p{
    margin-top: .5em;
    margin-bottom: .5em;
    font-weight: 200;
}

.text-content h1{
    margin-top: 15px;
}

.content{
    z-index: 1;
    text-align: center;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.bg{
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

.avatar img{
    filter: blur(0px) !important;
    width: 200px;
    border-radius: 100%;
    border: solid 10px rgb(218, 218, 218) ;

}
.icon-section{
display: flex;
align-items: center;
flex-direction: row;
}
.icon{
    width: 25px;
    filter: invert(100%);
    margin: 15px;
}


/*  BACKGROUND  */
.overlay{
    opacity: 50%;
    z-index: 0;
    width: 100%;
    height: 100%;
    position:absolute;}

    @keyframes move {
        100% {
            transform: translate3d(0, 0, 1px) rotate(360deg);
        }
    }
    
    .background {
        position: fixed;
        width: 100vw;
        height: 100vh;
        top: 0;
        left: 0;
        background: #100222;
        overflow: hidden;
    }
    
    .background span {
        width: 20vmin;
        height: 20vmin;
        border-radius: 20vmin;
        backface-visibility: hidden;
        position: absolute;
        animation: move;
        animation-duration: 13;
        animation-timing-function: linear;
        animation-iteration-count: infinite;
    }
    
    
    .background span:nth-child(0) {
        color: #271948;
        top: 1%;
        left: 76%;
        animation-duration: 355s;
        animation-delay: -289s;
        transform-origin: -18vw 13vh;
        box-shadow: -40vmin 0 5.166697833855173vmin currentColor;
    }
    .background span:nth-child(1) {
        color: #190953;
        top: 66%;
        left: 74%;
        animation-duration: 106s;
        animation-delay: -294s;
        transform-origin: 17vw -3vh;
        box-shadow: -40vmin 0 5.138934674595435vmin currentColor;
    }
    .background span:nth-child(2) {
        color: #25253c;
        top: 90%;
        left: 48%;
        animation-duration: 56s;
        animation-delay: -159s;
        transform-origin: -18vw 16vh;
        box-shadow: 40vmin 0 5.135650373861331vmin currentColor;
    }
    .background span:nth-child(3) {
        color: #271948;
        top: 25%;
        left: 27%;
        animation-duration: 35s;
        animation-delay: -45s;
        transform-origin: 15vw -8vh;
        box-shadow: -40vmin 0 5.0707605516041605vmin currentColor;
    }
    .background span:nth-child(4) {
        color: #190953;
        top: 57%;
        left: 15%;
        animation-duration: 49s;
        animation-delay: -354s;
        transform-origin: 17vw -3vh;
        box-shadow: -40vmin 0 5.943766985768208vmin currentColor;
    }
    .background span:nth-child(5) {
        color: #25253c;
        top: 16%;
        left: 38%;
        animation-duration: 143s;
        animation-delay: -29s;
        transform-origin: -8vw -22vh;
        box-shadow: 40vmin 0 5.668914789782339vmin currentColor;
    }
    .background span:nth-child(6) {
        color: #190953;
        top: 54%;
        left: 21%;
        animation-duration: 235s;
        animation-delay: -87s;
        transform-origin: -9vw -23vh;
        box-shadow: 40vmin 0 5.231468617080718vmin currentColor;
    }
    .background span:nth-child(7) {
        color: #190953;
        top: 97%;
        left: 59%;
        animation-duration: 263s;
        animation-delay: -30s;
        transform-origin: -17vw -18vh;
        box-shadow: 40vmin 0 5.6149764782146985vmin currentColor;
    }
    .background span:nth-child(8) {
        color: #25253c;
        top: 20%;
        left: 39%;
        animation-duration: 307s;
        animation-delay: -293s;
        transform-origin: -10vw -21vh;
        box-shadow: -40vmin 0 5.117110762123777vmin currentColor;
    }
    .background span:nth-child(9) {
        color: #190953;
        top: 49%;
        left: 4%;
        animation-duration: 192s;
        animation-delay: -217s;
        transform-origin: 11vw 22vh;
        box-shadow: -40vmin 0 5.314402585600316vmin currentColor;
    }
    .background span:nth-child(10) {
        color: #271948;
        top: 79%;
        left: 40%;
        animation-duration: 222s;
        animation-delay: -282s;
        transform-origin: 9vw -19vh;
        box-shadow: -40vmin 0 5.247946683898115vmin currentColor;
    }
    .background span:nth-child(11) {
        color: #271948;
        top: 35%;
        left: 54%;
        animation-duration: 156s;
        animation-delay: -126s;
        transform-origin: 24vw 8vh;
        box-shadow: 40vmin 0 5.6485354870588615vmin currentColor;
    }
    .background span:nth-child(12) {
        color: #271948;
        top: 25%;
        left: 13%;
        animation-duration: 259s;
        animation-delay: -302s;
        transform-origin: -5vw 3vh;
        box-shadow: 40vmin 0 5.023195495095056vmin currentColor;
    }
    .background span:nth-child(13) {
        color: #25253c;
        top: 91%;
        left: 73%;
        animation-duration: 75s;
        animation-delay: -88s;
        transform-origin: -9vw -4vh;
        box-shadow: -40vmin 0 5.478848857904419vmin currentColor;
    }
    .background span:nth-child(14) {
        color: #25253c;
        top: 8%;
        left: 73%;
        animation-duration: 245s;
        animation-delay: -309s;
        transform-origin: -3vw 11vh;
        box-shadow: 40vmin 0 5.653841433456975vmin currentColor;
    }
    .background span:nth-child(15) {
        color: #271948;
        top: 100%;
        left: 91%;
        animation-duration: 102s;
        animation-delay: -341s;
        transform-origin: -13vw 21vh;
        box-shadow: 40vmin 0 5.61896029494479vmin currentColor;
    }
    .background span:nth-child(16) {
        color: #190953;
        top: 59%;
        left: 54%;
        animation-duration: 280s;
        animation-delay: -232s;
        transform-origin: -10vw -19vh;
        box-shadow: 40vmin 0 5.232298066465303vmin currentColor;
    }
    .background span:nth-child(17) {
        color: #25253c;
        top: 58%;
        left: 3%;
        animation-duration: 321s;
        animation-delay: -135s;
        transform-origin: -22vw 15vh;
        box-shadow: 40vmin 0 5.51060119414551vmin currentColor;
    }
    .background span:nth-child(18) {
        color: #190953;
        top: 50%;
        left: 89%;
        animation-duration: 243s;
        animation-delay: -115s;
        transform-origin: -21vw -9vh;
        box-shadow: 40vmin 0 5.511170835765586vmin currentColor;
    }
    .background span:nth-child(19) {
        color: #271948;
        top: 57%;
        left: 36%;
        animation-duration: 51s;
        animation-delay: -169s;
        transform-origin: 8vw 2vh;
        box-shadow: 40vmin 0 5.966456990720623vmin currentColor;
    }
    