*{
    margin: 0;
    padding: 0;
    color: white;
    /* font-family: 'Poppins', serif; */
    font-family: "Source Code Pro", serif ;
    text-decoration: none;
}




.front-page{
    width: 100%;
    height: 100%;
    clip-path: circle(5%);
}

.backgroundblend{
    width: 100%;
    height: 100vh;
    background: radial-gradient(79.06% 65.46% at 99.56% -0.33%, rgba(0, 88, 231, 0.2) 0%, rgba(7, 20, 41, 0.2) 100%), radial-gradient(50% 44.45% at 0% 100%, #021F4E 0%, #011638 100%);

}

.intro-text, .logoOne{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.logoOne{
    filter: invert(100%);
}






.navbar{
    height: 90vh;
}


.background {
    background: radial-gradient(79.06% 65.46% at 99.56% -0.33%, rgba(0, 88, 231, 0.2) 0%, rgba(7, 20, 41, 0.2) 100%), radial-gradient(50% 44.45% at 0% 100%, #021F4E 0%, #011638 100%);
}

.displayF{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.links{
    flex-direction: row;
}

.links img{
    width: 25px;
    margin: 25px 10px;
}

.logo{
    filter: invert(100%);
    width: 55vw;
    margin: 0 20px 0 40px;
}
.navigation {
    margin-top: 25px;
}

.directionR{
    flex-direction: row;
}

.navigation a{
    text-decoration: none;
    color: white;
    font-size: 14px;
    /* margin-left: 30px;
    margin-right: 30px;
    margin-top: 25px; */

    margin: 5% 5% 0 5%;
}

/* First SECTION */

.avatar{
    width: 300px;
    margin: 0px 5% 5% 5%;
}

.abouth{
    font-size: 48px;
    letter-spacing: 1px ;
    font-weight: bolder;
    margin-top: 30px;
}

.about{
    margin-top: 60px;

    width: 100%;

    background: radial-gradient(50% 50% at 50% 50%, rgba(196, 196, 196, 0.1) 0%, rgba(196, 196, 196, 0.051) 100%);
    /* border: 1px solid rgba(119, 119, 119, 0.5); */
    box-sizing: border-box;
    /* border-radius: 10px; */
}

.aboutCont{
    flex-direction: row;
}

.aboutCont p{
    font-size: 14pt;
    width: 50%;
    margin-bottom: 100px;
}

.revert{
    filter: invert(100%);
}

.item img{
    width: 120px;
}

.languages{
    max-width: 1024px;
    margin: 40px auto;
}

.languageTitle{
    font-size: 24px;
    margin-top: 80px;
}

.logo-slider{
    color: white
}

/* Third Section */

.projects{
    margin-top: 20px;
    width: 75%;
}

.containerProj{
    flex-direction: row;
    justify-content: space-evenly;
}

.projImage{
    width: 40%;
}


.eachProj{
    width: 50%;
    height: 500px;
    padding: 30px;

    margin: 10px;

    justify-content: space-around;

    background: radial-gradient(50% 50% at 50% 50%, rgba(196, 196, 196, 0.1) 0%, rgba(196, 196, 196, 0.051) 100%);
    border: 1px solid rgba(119, 119, 119, 0.5);
    box-sizing: border-box;

    border-radius: 10px;
}

.eachProj a{
    text-decoration: underline;
    color: rgb(0, 191, 255);
}

.projCont{

    background: radial-gradient(50% 50% at 50% 50%, rgba(196, 196, 196, 0.1) 0%, rgba(196, 196, 196, 0.051) 100%);
    box-sizing: border-box;

    margin-top: 100px;

    display: flex;
    align-items: center;
    justify-content: center;

    flex-direction: column;

    padding: 20px;

}

.projTitle{
    font-size: 48px;
}



/* Youtube part */

.ytContainer{
    margin: 80px 0 30px 0;

    width: 90%;
    background: radial-gradient(44.79% 44.79% at 50% 92.51%, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0) 100%), radial-gradient(143.16% 415.03% at 99.49% 0%, rgba(255, 255, 255, 0.3) 0%, rgba(255, 255, 255, 0) 100%) /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */, rgba(196, 196, 196, 0.5);

    border-radius: 10px;

    padding: 20px;
}

.ytLogo{
    margin: 100px;
    width: 300px;
}

.ytAvatar img{
    position: relative;
    bottom: 100px;
    width: 200px;
    border-radius: 200px;
    border: 10px solid white;
    box-shadow: 0px 0px 16px 8px rgba(0,0,0,0.27);
}

.ytInfo{
    position: relative;
    bottom: 80px;
    text-align: center;
}

@media (max-width: 1024px){

    .logo{
    width: 80vw;    
    }

    .videosLine{
        flex-direction: column;
    }

    .about{
        padding: 2px;
        width: 90%;
        padding-bottom: 20px;
    }

    .aboutCont{
        flex-direction: column;
    }

    .aboutCont p{
        width: 80%;
    }
    

    .avatar{
        width: 40%;
    }

    .languages{
        max-width: 70vw;
    }

    .item img{
        width: 80%;
    }


    .containerProj {
        flex-direction: column;
    }

    .eachProj{
        width: 90%;
        margin: 10px;
    }

}
